
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #000; 
    color: #fff; 
}

.navbar {
    padding: 10px; 
    display: flex; 
    align-items: center; 
}

.titulo {
    font-size: 24px;
}

.botones {
    display: flex;
}

button {
    background-color: #fff; 
    color: #000; 
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px; 
}

.seccion {
    background-color: #fff;     
    color: #000;        
    padding: 30px;      
    margin: 20px;       
    border: 2px solid #000;     
    border-radius: 15px;        
}

.boton-amallo {
    background-color: yellow;
    color: #000;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.seccion img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin-top: 20px; 
    border-radius: 8px; 
}